.NavLeft{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Nav-Bar{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px #9e9e9e;
}

.Logo{
  border-radius: 50%;
  margin: 14px;
  width: 50px;
  height: 50px;
  border-color: black;
  border-radius: 5px;
}

.Name{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  color: black;
  flex: 2;
}

.search-bar{
  width: 375px;
  height: 30px;
  border-radius: 1;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding: 8px;
  margin-left: 70px;
  font-weight: bold;
}

.project-button{
  justify-content: 'flex-end';
  list-style-type: none;
  color: #6a6fea;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

.project-button a{
    display: block;
    padding: 8px;
    text-decoration: none;
}

.project-button a:hover{

}
